{% if test_scenario['values']['openshift'] == 'true' %}
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  labels:
    secrets.stackable.tech/class: s3-credentials-class
timeout: 240
stringData:
  accessKey: minioAccessKey
  secretKey: minioSecretKey
  # The following two entries are used by the Bitnami chart for MinIO to
  # set up credentials for accessing buckets managed by the MinIO tenant.
  root-user: minioAccessKey
  root-password: minioSecretKey
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: s3-credentials-class
spec:
  backend:
    k8sSearch:
      searchNamespace:
        pod: {}
{% endif %}
