{% if test_scenario['values']['openshift'] == 'false' %}
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: >-
      helm install minio
      --namespace $NAMESPACE
      --version 5.0.5
      --set mode=standalone
      --set replicas=1
      --set persistence.enabled=true
      --set resources.requests.memory=1Gi
      --set buckets[0].name=my-bucket,buckets[0].policy=none
      --set users[0].accessKey=spark,users[0].secretKey=sparkspark,users[0].policy=readwrite
      --set service.type=NodePort,service.nodePort=null
      --set consoleService.type=NodePort,consoleService.nodePort=null
      --set securityContext.enabled=true
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
      --set tls.enabled=true,tls.certSecret=minio-tls-certificates,tls.publicCrt=tls.crt,tls.privateKey=tls.key
{% endif %}
      --repo https://charts.min.io/ minio
    timeout: 240
{% else %}
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: >-
      helm install minio
      --namespace $NAMESPACE
      --version 11.9.2
      -f helm-bitnami-minio-values.yaml
      --repo https://charts.bitnami.com/bitnami minio
    timeout: 240
{% endif %}
---
apiVersion: v1
kind: Pod
metadata:
  name: minio-client
  labels:
    app: minio-client
spec:
  selector:
    matchLabels:
      app: minio-client
  restartPolicy: Never
  containers:
    - name: minio-client
      image: docker.io/bitnami/minio-client:2022.8.11-debian-11-r3
      command: ["bash", "-c", "sleep infinity"]
      stdin: true
      tty: true
      env:
{% if test_scenario['values']['openshift'] == 'true' %}
        - name: MINIO_SERVER_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: root-user
              optional: false
        - name: MINIO_SERVER_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio
              key: root-password
              optional: false
{% endif %}
        - name: MINIO_SERVER_HOST
          value: minio
        - name: MINIO_SERVER_PORT_NUMBER
          value: "9000"
        - name: MINIO_SERVER_SCHEME
          value: http

---
apiVersion: s3.stackable.tech/v1alpha1
kind: S3Connection
metadata:
  name: minio
spec:
  host: minio
  port: 9000
  accessStyle: Path
  credentials:
    secretClass: s3-credentials
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
  tls:
    verification:
      server:
        caCert:
          secretClass: minio-tls-certificates
{% endif %}