---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  # give minio enough time to start
  - command: sleep 10
{% if test_scenario['values']['openshift'] == 'true' %}
  - command: kubectl exec -n $NAMESPACE minio-client -- sh -c 'mc --insecure alias set minio http://minio:9000 $$MINIO_SERVER_ACCESS_KEY $$MINIO_SERVER_SECRET_KEY'
  - command: kubectl exec -n $NAMESPACE minio-client -- mc mb minio/my-bucket
  - command: kubectl exec -n $NAMESPACE minio-client -- mc admin user add minio spark sparkspark
  - command: kubectl exec -n $NAMESPACE minio-client -- mc admin policy set minio readwrite user=spark
{% else %}
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
  - command: kubectl exec -n $NAMESPACE minio-client -- sh -c 'mc --insecure alias set minio https://minio:9000 spark sparkspark'
{% else %}
  - command: kubectl exec -n $NAMESPACE minio-client -- sh -c 'mc --insecure alias set minio http://minio:9000 spark sparkspark'
{% endif %}
{% endif %}
  - command: kubectl cp -n $NAMESPACE yellow_tripdata_2021-07.csv minio-client:/tmp
  - command: kubectl cp -n $NAMESPACE ny-tlc-report-1.1.0-{{ test_scenario['values']['spark'].split('-stackable')[0] }}.jar  minio-client:/tmp/ny-tlc-report.jar
  - command: kubectl exec -n $NAMESPACE minio-client -- mc --insecure cp /tmp/yellow_tripdata_2021-07.csv minio/my-bucket
  - command: kubectl exec -n $NAMESPACE minio-client -- mc --insecure cp /tmp/ny-tlc-report.jar minio/my-bucket
