---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-job-arguments
data:
  job-args.txt: |
    s3a://my-bucket/yellow_tripdata_2021-07.csv
---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkApplication
metadata:
  name: spark-ny-cm
spec:
  version: "1.0"
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  sparkImage:
    productVersion: "{{ test_scenario['values']['spark'] }}"
    imagePullPolicy: IfNotPresent
  mode: cluster
  mainClass: tech.stackable.demo.spark.NYTLCReport
  mainApplicationFile: "s3a://my-bucket/ny-tlc-report.jar"
  volumes:
    - name: cm-job-arguments
      configMap:
        name: cm-job-arguments
  args:
    - "--input /arguments/job-args.txt"
  s3connection:
    reference: minio
  job:
    logging:
      enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
  driver:
    logging:
      enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    volumeMounts:
      - name: cm-job-arguments
        mountPath: /arguments
  executor:
    instances: 3
    logging:
      enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    volumeMounts:
      - name: cm-job-arguments
        mountPath: /arguments
