---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 300
---
# The Job starting the whole process
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkApplication
metadata:
  name: pyspark-iceberg
status:
{% if test_scenario['values']['spark'].startswith("3.3") %}
  # Spark 3.3 is expected to fail because of this https://issues.apache.org/jira/browse/SPARK-35084
  phase: Failed
{% else %}
  phase: Succeeded
{% endif %}
