## Documentation

The stable documentation for this operator can be found [here](https://docs.stackable.tech/{{operator_docs_slug}}/stable/index.html).
If you are interested in the most recent state of this repository, check out the [nightly docs](https://docs.stackable.tech/{{operator_docs_slug}}/nightly/index.html) instead.

The documentation for all Stackable products can be found at [docs.stackable.tech](https://docs.stackable.tech).

If you have a question about the Stackable Data Platform contact us via our [homepage](https://stackable.tech/) or ask a public questions in our [Discussions forum](https://github.com/orgs/stackabletech/discussions).