## Documentation

The stable documentation for this operator can be found [here](https://docs.stackable.tech/{{operator_name}}/stable/index.html).
If you are interested in the most recent state of this repository, check out the [nightly docs](https://docs.stackable.tech/{{operator_name}}/nightly/index.html) instead.

The documentation for all Stackable products can be found at [docs.stackable.tech](https://docs.stackable.tech).