debug/
target/
**/*.rs.bk

.idea/
*.iws

Cargo.nix
crate-hashes.json
result
image.tar

# We do NOT want to ignore .git because we use the `built` crate to gather the current git commit hash at built time
# This means we need the .git directory in our Docker image, it will be thrown away and won't be included in the final image
