---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkApplication
metadata:
  name: spark-examples
spec:
  version: "1.0"
  sparkImage: docker.stackable.tech/stackable/spark-k8s:{{ test_scenario['values']['spark'] }}-stackable{{ test_scenario['values']['stackable'] }}
  sparkImagePullPolicy: IfNotPresent
  mode: cluster
  mainClass: org.apache.spark.examples.SparkALS
  mainApplicationFile: local:///stackable/spark/examples/jars/spark-examples_2.12-{{ test_scenario['values']['spark'] }}.jar
  job:
    config:
      resources:
        cpu:
          min: "1"
          max: "1200m"
        memory:
          limit: "512m"
  driver:
    config:
      resources:
        cpu:
          min: "1"
          max: "1300m"
        memory:
          limit: "512m"
  executor:
    config:
      instances: 1
      resources:
        cpu:
          min: "500m"
          max: "1200m"
        memory:
          limit: "1Gi"
