{%- set title="Stackable Operator for Apache Spark" -%}
{%- set operator_name="spark-k8s" -%}
{%- set operator_docs_slug="spark-k8s" -%}
{%- set related_reading_links=[] -%}

{% include "partials/borrowed/header.md.j2" %}
{% include "partials/borrowed/links.md.j2" %}

{% include "partials/main.md.j2" %}

{% include "partials/borrowed/footer.md.j2" %}

{% include "partials/borrowed/related_reading.md.j2" %}
