---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  # give minio enough time to start
  - command: sleep 5
  - script: |
      POD=$(kubectl -n $NAMESPACE get pod -l app.kubernetes.io/instance=test-minio -o name | head -n 1 | sed -e 's#pod/##')
      kubectl cp -n $NAMESPACE spark-examples_{{ test_scenario['values']['spark'].split('-stackable')[0] }}.jar $POD:/tmp
      kubectl -n $NAMESPACE exec $POD -- mc cp spark-examples_{{ test_scenario['values']['spark'].split('-stackable')[0] }}.jar local/my-bucket
