---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkApplication
metadata:
  name: node-selector-test
spec:
  version: "1.0"
  sparkImage: docker.stackable.tech/stackable/spark-k8s:{{ test_scenario['values']['spark'] }}-hadoop{{ test_scenario['values']['hadoop'][:-2] }}-stackable{{ test_scenario['values']['stackable'] }}
  sparkImagePullPolicy: IfNotPresent
  mode: cluster
  mainClass: org.apache.spark.examples.SparkALS
  mainApplicationFile: local:///stackable/spark/examples/jars/spark-examples_2.12-{{ test_scenario['values']['spark'] }}.jar
  driver:
    cores: 1
    coreLimit: "1200m"
    memory: "512m"
    nodeSelector:
      node: "1"
  executor:
    cores: 1
    instances: 1
    memory: "512m"
    nodeSelector:
      kubernetes.io/os: linux
