This is a Kubernetes operator to manage [Apache Spark](https://spark.apache.org/) jobs.

{% include "partials/borrowed/overview_blurb.md.j2" %}

## Installation

You can install the operator using [stackablectl or helm](https://docs.stackable.tech/{{operator_name}}/stable/getting_started/installation.html).

Read on to get started with it, or see it in action in one of our [demos](https://stackable.tech/en/demos/).

## Getting Started

You can follow this [tutorial](https://docs.stackable.tech/{{operator_name}}/stable/getting_started/first_steps.html).

{% include "partials/borrowed/documentation.md.j2" %}
