This is a Kubernetes operator to manage [Apache Spark](https://spark.apache.org/) jobs.

{% filter trim %}
  {%- include "partials/borrowed/overview_blurb.md.j2" -%}
{% endfilter %}

## Installation

You can install the operator using [stackablectl or helm](https://docs.stackable.tech/home/stable/{{operator_name}}/getting_started/installation).

Read on to get started with it, or see it in action in one of our [demos](https://stackable.tech/en/demos/).

## Getting Started

You can follow this [tutorial](https://docs.stackable.tech/home/stable/{{operator_name}}/getting_started/first_steps) .

{% filter trim %}
  {%- include "partials/borrowed/documentation.md.j2" -%}
{% endfilter %}
