This is a Kubernetes operator to manage [Apache Spark](https://spark.apache.org/) jobs.

It is part of the Stackable Data Platform, a curated selection of the best open source data apps like Kafka, Druid, Trino or Spark, [all](#other-operators) working together seamlessly. Based on Kubernetes, it runs everywhere – [on prem or in the cloud]((#supported-platforms)).

## Installation

You can install the operator using [stackablectl or helm](https://docs.stackable.tech/{{operator_name}}/stable/getting_started/installation.html).

Read on to get started with it, or see it in action in one of our [demos](https://stackable.tech/en/demos/).

## Getting Started

You can follow this [tutorial](https://docs.stackable.tech/{{operator_name}}/stable/getting_started/first_steps.html).

{% include "partials/borrowed/documentation.md.j2" %}
