---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "operator.fullname" . }}-clusterrole
  labels:
  {{- include "operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - list
      - watch
  # For automatic cluster domain detection
  - apiGroups:
      - ""
    resources:
      - nodes/proxy
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - configmaps
      - secrets
      - services
      - endpoints
      - serviceaccounts
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - statefulsets
      - deployments
    verbs:
      - create
      - delete
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      # Required to maintain the CRD. The operator needs to do this, as it needs to enter e.g. it's
      # generated certificate in the conversion webhook.
      {{- if .Values.maintenance.customResourceDefinitions.maintain }}
      - create
      - patch
      {{- end }}
  - apiGroups:
      - events.k8s.io
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - spark.stackable.tech
    resources:
      - sparkapplications
      - sparkhistoryservers
      - sparkconnectservers
    verbs:
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - spark.stackable.tech
    resources:
      - sparkapplications/status
      - sparkconnectservers/status
    verbs:
      - patch
  - apiGroups:
      - s3.stackable.tech
    resources:
      - s3connections
      - s3buckets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
    verbs:
      - bind
    resourceNames:
      - {{ include "operator.name" . }}-clusterrole
  - apiGroups:
      - listeners.stackable.tech
    resources:
      - listeners
    verbs:
      - get
      - list
      - watch
      - patch
      - create
      - delete
{{ if .Capabilities.APIVersions.Has "security.openshift.io/v1" }}
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    resourceNames:
      - nonroot-v2
    verbs:
      - use
{{ end }}
