---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 240
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    job-name: resources-crd
    app.kubernetes.io/managed-by: spark.stackable.tech_sparkapplication
spec:
  containers:
    - name: spark-submit
      resources:
        limits:
          cpu: 500m
          memory: 512Mi
        requests:
          cpu: 250m
          memory: 512Mi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    - name: vector
{% endif %}
---
apiVersion: v1
kind: Pod
metadata:
  name: resources-crd-driver
spec:
  containers:
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    - name: vector
{% endif %}
    - name: spark
      resources:
        limits:
          cpu: "1"
          memory: 1Gi
        requests:
          cpu: 200m
          memory: 1Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: resources-crd-exec-1
spec:
  containers:
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    - name: vector
{% endif %}
    - name: spark
      resources:
        limits:
          cpu: "1"
          memory: 1Gi
        requests:
          cpu: 250m
          memory: 1Gi
