---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 900
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    job-name: resources-sparkconf
    app.kubernetes.io/managed-by: spark.stackable.tech_sparkapplication
spec:
  containers:
    - name: spark-submit
      resources:
        limits:
          cpu: 400m
          memory: 512Mi
        requests:
          cpu: 100m
          memory: 512Mi
---
apiVersion: v1
kind: Pod
metadata:
  name: resources-sparkconf-driver
spec:
  containers:
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    - name: vector
{% endif %}
    - name: spark
      resources:
        limits:
          cpu: "1"
          memory: "1433Mi"
        requests:
          cpu: "1"
          memory: "1433Mi"
---
apiVersion: v1
kind: Pod
metadata:
  name: resources-sparkconf-exec-1
spec:
  containers:
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    - name: vector
{% endif %}
    - name: spark
      resources:
        limits:
          cpu: "2"
          memory: "2867Mi"
        requests:
          cpu: "1"
          memory: "2867Mi"
