---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pyspark-log-config
data:
  log4j2.properties: |-
    appenders = FILE

    appender.FILE.type = File
    appender.FILE.name = FILE
    appender.FILE.fileName = /stackable/log/spark/spark.log4j2.xml
    appender.FILE.layout.type = XMLLayout

    rootLogger.level = INFO
    rootLogger.appenderRefs = FILE
    rootLogger.appenderRef.FILE.ref = FILE
---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkApplication
metadata:
  name: pyspark-custom-log-config
spec:
  sparkImage:
{% if test_scenario['values']['spark-logging'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['spark-logging'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['spark-logging'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['spark-logging'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  vectorAggregatorConfigMapName: spark-vector-aggregator-discovery
  mode: cluster
  mainApplicationFile: local:///stackable/spark/examples/src/main/python/als.py
  deps:
    requirements:
      - numpy==2.4.1
  driver:
    config:
      logging:
        enableVectorAgent: true
        containers:
          spark:
            custom:
              configMap: pyspark-log-config
  executor:
    replicas: 1
    config:
      logging:
        enableVectorAgent: true
        containers:
          spark:
            custom:
              configMap: pyspark-log-config
