Installed commons={{ versions.commons }} operator
Installed secret={{ versions.secret }} operator
Installed listener={{ versions.listener }} operator
Installed spark-k8s={{ versions.spark }} operator
