---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: s3-credentials-class
spec:
  backend:
    k8sSearch:
      searchNamespace:
        pod: {}
---
apiVersion: v1
kind: Secret
metadata:
  name: s3-credentials
  labels:
    secrets.stackable.tech/class: s3-credentials-class
stringData:
  accessKey: spark
  secretKey: sparkspark
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: history-credentials-class
spec:
  backend:
    k8sSearch:
      searchNamespace:
        pod: {}
---
apiVersion: v1
kind: Secret
metadata:
  name: history-credentials
  labels:
    secrets.stackable.tech/class: history-credentials-class
stringData:
  accessKey: spark
  secretKey: sparkspark
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: garage-tls-eventlog
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-tls-ca
          namespace: default
        autoGenerate: true
