---
apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-history-log-config
data:
  log4j2.properties: |-
    appenders = CONSOLE

    appender.CONSOLE.type = Console
    appender.CONSOLE.name = CONSOLE
    appender.CONSOLE.target = SYSTEM_ERR
    appender.CONSOLE.layout.type = PatternLayout
    appender.CONSOLE.layout.pattern = %d{ISO8601} %p [%t] %c - %m%n
    appender.CONSOLE.filter.threshold.type = ThresholdFilter
    appender.CONSOLE.filter.threshold.level = DEBUG

    rootLogger.level=DEBUG
    rootLogger.appenderRefs = CONSOLE
    rootLogger.appenderRef.CONSOLE.ref = CONSOLE
---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkHistoryServer
metadata:
  name: spark-history
spec:
  image:
{% if test_scenario['values']['spark'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['spark'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['spark'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['spark'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  logFileDirectory:
    s3:
      prefix: eventlogs/
      bucket:
        reference: spark-history-s3-bucket
  # For possible properties see: https://spark.apache.org/docs/latest/monitoring.html#spark-history-server-configuration-options
  sparkConf:
    test.sparkConf: "true"
  nodes:
    envOverrides:
      TEST_SPARK_HIST_VAR_ROLE: ROLE
      TEST_SPARK_HIST_VAR_FROM_RG: ROLE
    configOverrides:
      security.properties:
        test.securityProperties.role: role
        test.securityProperties.fromRg: role
      spark-env.sh:
        TEST_SPARK-ENV-SH_ROLE: ROLE
        TEST_SPARK-ENV-SH_FROM_RG: ROLE
    roleGroups:
      default:
        replicas: 1
        config:
          cleaner: true
        envOverrides:
          TEST_SPARK_HIST_VAR_FROM_RG: ROLEGROUP
          TEST_SPARK_HIST_VAR_RG: ROLEGROUP
        configOverrides:
          security.properties:
            test.securityProperties.fromRg: rolegroup
            test.securityProperties.rg: rolegroup
          spark-env.sh:
            TEST_SPARK-ENV-SH_FROM_RG: ROLEGROUP
            TEST_SPARK-ENV-SH_RG: ROLEGROUP
        podOverrides:
          spec:
            containers:
              - name: spark-history
                resources:
                  requests:
                    cpu: 500m
                    memory: 512Mi
                  limits:
                    cpu: 1500m
                    memory: 1024Mi
