---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: use-integration-tests-scc
rules:
{% if test_scenario['values']['openshift'] == "true" %}
  - apiGroups: ["security.openshift.io"]
    resources: ["securitycontextconstraints"]
    resourceNames: ["privileged"]
    verbs: ["use"]
{% endif %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: integration-tests-sa
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: use-integration-tests-scc
subjects:
  - kind: ServiceAccount
    name: integration-tests-sa
roleRef:
  kind: Role
  name: use-integration-tests-scc
  apiGroup: rbac.authorization.k8s.io
