---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: s3-credentials-class
spec:
  backend:
    k8sSearch:
      searchNamespace:
        pod: {}
---
apiVersion: v1
kind: Secret
metadata:
  name: s3-credentials
  labels:
    secrets.stackable.tech/class: s3-credentials-class
stringData:
  accessKey: spark
  secretKey: sparkspark
---
apiVersion: v1
kind: Secret
metadata:
  name: centralized-minio-users
type: Opaque
stringData:
  username1: |
    username=spark
    password=sparkspark
    disabled=false
    policies=readwrite,consoleAdmin,diagnostics
    setPolicies=false
