---
global:
  security:
    allowInsecureImages: true # needed starting with Chart version 16.3.0 if modifying images

image:
  repository: bitnamilegacy/postgresql

volumePermissions:
  enabled: false
  image:
    repository: bitnamilegacy/os-shell
  securityContext:
    runAsUser: auto

metrics:
  image:
    repository: bitnamilegacy/postgres-exporter

primary:
  extendedConfiguration: |
    password_encryption=md5
  podSecurityContext:
{% if test_scenario['values']['openshift'] == 'true' %}
    enabled: false
{% else %}
    enabled: true
{% endif %}
  containerSecurityContext:
    enabled: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "512m"
    limits:
      memory: "512Mi"
      cpu: "1"

auth:
  username: hive
  password: hive
  database: hive
