---
apiVersion: s3.stackable.tech/v1alpha1
kind: S3Connection
metadata:
  name: mybucket-s3-connection
spec:
  host: minio
  port: 9000
  accessStyle: Path
  credentials:
    secretClass: minio-credentials-class
  tls:
    verification:
      server:
        caCert:
          secretClass: minio-tls-ca
---
apiVersion: s3.stackable.tech/v1alpha1
kind: S3Bucket
metadata:
  name: mybucket-s3-bucket
spec:
  bucketName: mybucket
  connection:
    reference: mybucket-s3-connection
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-connect-log-config
data:
  log4j2.properties: |-
    appenders = CONSOLE

    appender.CONSOLE.type = Console
    appender.CONSOLE.name = CONSOLE
    appender.CONSOLE.target = SYSTEM_ERR
    appender.CONSOLE.layout.type = PatternLayout
    appender.CONSOLE.layout.pattern = %d{ISO8601} %p [%t] %c - %m%n
    appender.CONSOLE.filter.threshold.type = ThresholdFilter
    appender.CONSOLE.filter.threshold.level = DEBUG

    rootLogger.level=INFO
    rootLogger.appenderRefs = CONSOLE
    rootLogger.appenderRef.CONSOLE.ref = CONSOLE
---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkConnectServer
metadata:
  name: spark-connect
spec:
  image:
{% if test_scenario['values']['spark-connect'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['spark-connect'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['spark-connect'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['spark-connect'] }}"
{% endif %}
    pullPolicy: IfNotPresent
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  s3:
    - reference: mybucket-s3-bucket
  server:
    jvmArgumentOverrides:
      add:
        - -Dmy.custom.jvm.arg=customValue
    roleConfig:
      listenerClass: external-unstable
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
        containers:
          spark:
            custom:
              configMap: spark-connect-log-config
    configOverrides:
      spark-defaults.conf:
        spark.jars.ivy: /tmp/ivy2
  executor:
    configOverrides:
      spark-defaults.conf:
        spark.executor.instances: "1"
        spark.executor.memoryOverhead: "1m"
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
        containers:
          spark:
            custom:
              configMap: spark-connect-log-config
