---
apiVersion: v1
kind: ConfigMap
metadata:
  name: eventlog-garage-config
data:
  garage.toml: |
    metadata_dir = "/tmp/garage/meta"
    data_dir = "/tmp/garage/data"
    db_engine = "sqlite"
    replication_factor = 1

    [s3_api]
    s3_region = "us-east-1"
    api_bind_addr = "[::]:3900"
    root_domain = ".s3.garage.localhost"
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
    tls_cert_file = "/tls/tls.crt"
    tls_key_file = "/tls/tls.key"
{% endif %}

    [s3_web]
    bind_addr = "[::]:3902"
    root_domain = ".web.garage.localhost"

    [admin]
    api_bind_addr = "[::]:3903"
    admin_token = "s3cr3t"

    [rpc]
    bind_addr = "[::]:3901"
    secret = "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: eventlog-garage
  labels:
    app: eventlog-garage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eventlog-garage
  template:
    metadata:
      labels:
        app: eventlog-garage
    spec:
      containers:
        - name: garage
          image: oci.stackable.tech/stackable/dxflrs/garage:v2.3.0
          ports:
            - containerPort: 3900
              name: s3
            - containerPort: 3901
              name: rpc
            - containerPort: 3903
              name: admin
          volumeMounts:
            - name: config
              mountPath: /etc/garage.toml
              subPath: garage.toml
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
            - name: tls
              mountPath: /tls
{% endif %}
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 512Mi
              cpu: "1"
      volumes:
        - name: config
          configMap:
            name: eventlog-garage-config
{% if test_scenario['values']['s3-use-tls'] == 'true' %}
        - name: tls
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: garage-tls-eventlog
                  secrets.stackable.tech/scope: service=eventlog-garage
              spec:
                storageClassName: secrets.stackable.tech
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: "1"
{% endif %}
---
apiVersion: v1
kind: Service
metadata:
  name: eventlog-garage
spec:
  selector:
    app: eventlog-garage
  ports:
    - name: s3
      port: 3900
      targetPort: 3900
    - name: rpc
      port: 3901
      targetPort: 3901
    - name: admin
      port: 3903
      targetPort: 3903
