---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkHistoryServer
metadata:
  name: spark-history
spec:
  image:
    productVersion: "{{ test_scenario['values']['spark'] }}"
    stackableVersion: "{{ test_scenario['values']['stackable'] }}"
  logFileDirectory:
    s3:
      prefix: eventlogs/
      bucket: # S3BucketDef
        inline:
          bucketName: spark-logs
          connection:
            inline:
              host: eventlog-minio
              port: 9000
              accessStyle: Path
              credentials:
                secretClass: history-credentials-class
  # For possible properties see: https://spark.apache.org/docs/latest/monitoring.html#spark-history-server-configuration-options
  #sparkConf:
  nodes:
    roleGroups:
      cleaner:
        replicas: 1
        config:
          cleaner: true
