---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkHistoryServer
metadata:
  name: spark-history
spec:
  image:
    productVersion: "{{ test_scenario['values']['spark'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['spark'].split('-stackable')[1] }}"
  logFileDirectory:
    s3:
      prefix: eventlogs/
      bucket:
        reference: spark-history-s3-bucket
  # For possible properties see: https://spark.apache.org/docs/latest/monitoring.html#spark-history-server-configuration-options
  #sparkConf:
  nodes:
    roleGroups:
      cleaner:
        replicas: 1
        config:
          cleaner: true
