---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkApplication
metadata:
  name: spark-pi-s3-2
  annotations:
    spark-application.template.merge: "true"
    spark-application.template.0.name: "template-pi-s3"
spec:
  #
  # The fields below are mandatory in the v1alpha1 version of SparkApplicationSpec
  # and therefore must be present.
  # They are also final, meaning they cannot be overridden by templates.
  #
  sparkImage:
{% if test_scenario['values']['spark'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['spark'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['spark'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['spark'] }}"
{% endif %}
  mode: cluster
  mainClass: org.apache.spark.examples.SparkPi
  mainApplicationFile: "/stackable/spark/examples/jars/spark-examples.jar"
