---
mode: standalone
replicas: 1
persistence:
  enabled: true
resources:
   requests:
     memory: 1Gi
buckets:
  - name: spark-logs/eventlogs
users:
  - accessKey: spark
    secretKey: sparkspark
    policy: readwrite
service:
  type: NodePort

consoleService:
  type: NodePort

securityContext:
  enabled: true

{% if test_scenario['values']['s3-use-tls'] == 'true' %}
tls:
  enabled: true
  certSecret: minio-tls-eventlog
  publicCrt: tls.crt
  privateKey: tls.key
{% endif %}
