---
volumePermissions:
  enabled: false
  securityContext:
    runAsUser: auto

primary:
  podSecurityContext:
{% if test_scenario['values']['openshift'] == 'true' %}
    enabled: false
{% else %}
    enabled: true
{% endif %}
  containerSecurityContext:
    enabled: false

shmVolume:
  chmod:
    enabled: false

auth:
  username: spark
  password: spark
  database: spark
