---
name: Integration Test

on:
  # schedule:
    # At 00:00 on Sunday. See: https://crontab.guru/#0_0_*_*_0
    # - cron: "0 0 * * 0"
  workflow_dispatch:
    inputs:
      test-mode:
        description: Test mode
        required: true
        type: choice
        options:
          - profile
          - custom
      test-mode-input:
        description: The profile or the runner used
        required: true
      test-suite:
        description: Name of the test-suite. Only used if test-mode is `custom`
      test:
        description: Name of the test. Only used of test-mode is `custom`

jobs:
  test:
    name: Run Integration Test
    runs-on: ubuntu-latest
    # services:
    #   otel-collector:
    #     image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-k8s:0.131.1
    #     volumes:
    #       - .:/mnt
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          submodules: recursive

      # TODO: Enable the scheduled runs which hard-code what profile to use
      - name: Run Integration Test
        id: test
        uses: stackabletech/actions/run-integration-test@736565e3b8f657bcddff2897abcf5ccb82ae3e6c # v0.9.0
        with:
          replicated-api-token: ${{ secrets.REPLICATED_API_TOKEN }}
          test-mode-input: ${{ inputs.test-mode-input }}
          test-suite: ${{ inputs.test-suite }}
          test-mode: ${{ inputs.test-mode }}
          test: ${{ inputs.test }}

      - name: Send Notification
        if: ${{ failure() || github.run_attempt > 1 }}
        uses: stackabletech/actions/send-slack-notification@736565e3b8f657bcddff2897abcf5ccb82ae3e6c # v0.9.0
        with:
          slack-token: ${{ secrets.SLACK_INTEGRATION_TEST_TOKEN }}
          failed-tests: ${{ steps.test.outputs.failed-tests }}
          test-health: ${{ steps.test.outputs.health }}
          test-result: ${{ steps.test.conclusion }}
          channel-id: C07UYJYSMSN # notifications-integration-tests
          type: integration-test
