---
name: pre-commit

on:
  pull_request:
  merge_group:

env:
  CARGO_TERM_COLOR: always
  NIX_PKG_MANAGER_VERSION: "2.30.0"
  RUST_TOOLCHAIN_VERSION: "nightly-2025-10-23"
  HADOLINT_VERSION: "v2.14.0"
  PYTHON_VERSION: "3.14"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Install host dependencies
        uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        with:
          packages: protobuf-compiler krb5-user libkrb5-dev libclang-dev liblzma-dev libssl-dev pkg-config apt-transport-https
          version: ubuntu-latest
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          submodules: recursive
          fetch-depth: 0
      - uses: stackabletech/actions/run-pre-commit@75e0756966dea229d697165bfd06ba79abcda72c # v0.10.3
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          rust: ${{ env.RUST_TOOLCHAIN_VERSION }}
          hadolint: ${{ env.HADOLINT_VERSION }}
          nix: ${{ env.NIX_PKG_MANAGER_VERSION }}
          nix-github-token: ${{ secrets.GITHUB_TOKEN }}
