---
role: Aggregator
service:
  ports:
  - name: api
    port: 8686
    protocol: TCP
    targetPort: 8686
  - name: vector
    port: 6123
    protocol: TCP
    targetPort: 6000
customConfig:
  api:
    address: 0.0.0.0:8686
    enabled: true
  sources:
    vector:
      address: 0.0.0.0:6000
      type: vector
      version: "2"
  transforms:
    automaticLogConfigSubmitSpark:
      type: filter
      inputs: [vector]
      condition: >-
        match(string!(.pod), r'^automatic-log-config-[^-]+$') &&
        .container == "spark"
    automaticLogConfigSubmitVector:
      type: filter
      inputs: [vector]
      condition: >-
        match(string!(.pod), r'^automatic-log-config-[^-]+$') &&
        .container == "vector"
    automaticLogConfigDriverSpark:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "automatic-log-config" &&
        ends_with(string!(.pod), "-driver") &&
        .container == "spark"
    automaticLogConfigDriverJob:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "automatic-log-config" &&
        ends_with(string!(.pod), "-driver") &&
        .container == "job"
    automaticLogConfigDriverVector:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "automatic-log-config" &&
        ends_with(string!(.pod), "-driver") &&
        .container == "vector"
    automaticLogConfigExecutorSpark:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "automatic-log-config" &&
        ends_with(string!(.pod), "-exec-1") &&
        .container == "spark"
    automaticLogConfigExecutorJob:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "automatic-log-config" &&
        ends_with(string!(.pod), "-exec-1") &&
        .container == "job"
    automaticLogConfigExecutorVector:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "automatic-log-config" &&
        ends_with(string!(.pod), "-exec-1") &&
        .container == "vector"
    customLogConfigSubmitSpark:
      type: filter
      inputs: [vector]
      condition: >-
        match(string!(.pod), r'^custom-log-config-[^-]+$') &&
        .container == "spark"
    customLogConfigSubmitVector:
      type: filter
      inputs: [vector]
      condition: >-
        match(string!(.pod), r'^custom-log-config-[^-]+$') &&
        .container == "vector"
    customLogConfigDriverSpark:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "custom-log-config" &&
        ends_with(string!(.pod), "-driver") &&
        .container == "spark"
    customLogConfigDriverJob:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "custom-log-config" &&
        ends_with(string!(.pod), "-driver") &&
        .container == "job"
    customLogConfigDriverVector:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "custom-log-config" &&
        ends_with(string!(.pod), "-driver") &&
        .container == "vector"
    customLogConfigExecutorSpark:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "custom-log-config" &&
        ends_with(string!(.pod), "-exec-1") &&
        .container == "spark"
    customLogConfigExecutorJob:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "custom-log-config" &&
        ends_with(string!(.pod), "-exec-1") &&
        .container == "job"
    customLogConfigExecutorVector:
      type: filter
      inputs: [vector]
      condition: >-
        .cluster == "custom-log-config" &&
        ends_with(string!(.pod), "-exec-1") &&
        .container == "vector"
  sinks:
    out:
      inputs: [automaticLogConfig*, customLogConfig*]
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
      type: vector
      address: {{ lookup('env', 'VECTOR_AGGREGATOR') }}
{% else %}
      type: blackhole
{% endif %}
